
<head>
  <meta charset="UTF-8">
  <title>Tech9000</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="flex-container-row">
        <div class="flex-container-columns">
      <h1>
        Tech 9000
      </h1>
      <p>Masters in Tech & Computing</p>
      </div>
      <button class="keepRight">Sign In</button>
    </header>
    <nav class="flex-container-row">
      {{!-- Seperate Navbar? --}}
        <button>Home</button>
        <button>Dashboard</button>
        {{!-- If statement here to dictate login/logout --}}
        <button>Login</button>
    </nav>
      <main class="">
     {{{ body }}}
      </main>
  </div>
  <footer class="keepBottom">
        footer goes here
  </footer>
  </body>

</html>


