* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .navbar-brand {
    font-size: 250%;
    font-weight: bold;
  }
  
  .nav-item {
    font-size: 150%;
  }
  
  .nav-link:hover {
    color: lightgrey;
  }
  
  .card a {
    text-decoration: none;
    color: black;
  }
  
  .post-list {
    display: block;
  }
  
  .new-post {
    display: none;
  }
  
  form {
    width: 100%;
  }
  
  form .form-group {
    display: block;
    width: 100%;
    margin: 10px 0;
  }
  
  form .form-input,
  form .form-textarea {
    display: block;
  }
  
  form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
  }
  
  form label,
  form .form-label {
    display: inline-block;
    font-size: 1rem;
    margin: 5px 0 2px 3px;
  }
  
  form .form-input {
    width: 100%;
    padding: 2px;
    color: #1a1a1a;
    background-color: #ffffff;
    margin: 5px 0;
    font-size: 1rem;
    border: 1px solid #484848;
    border-radius: 0.3rem;
  }